{% extends 'base.html' %}
{% block title %} Calculate {% endblock %}
{% block content %}
    <h1><em>Your Answer</em></h1>
    <p class="mb-0 justify-content">Starting quantity: {{ sq }}</p>
    <p class="mb-0 justify-content">Starting value: {{ val }}</p>
    <p class="mb-0 justify-content">Starting unit: {{ su }}</p>
    <p class="mb-0 justify-content">Result quantity: {{ rq }}</p>
    <p class="mb-0 justify-content">Result unit: {{ ru }}</p>
    <p class="mb-0 justify-content">Equation: {{ eqn.mathjson }}</p>
    <p class="mb-0 justify-content">Variables: {{ vars }}</p>
    <p class="mb-0 justify-content">Constants: {{ convals }}</p>
{% endblock %}