{% extends 'base.html' %}
{% block title %} UMIS API {% endblock %}
{% block content %}
    <h1><em>The UMIS Calculations</em></h1>
    <div class="card bg-light p-3 mb-2">
        <p class="mb-0 justify-content">The UMIS Calculations services aims to test the idea of providing a traceable
            digital calculation by a user. Users will need to create an account (not open yet) and use a system assigned
        key to authorize the calculation process. Try out the service below...</p>
    </div>
{#    <div id="calculation">#}
{#        <form class="form" action="{% url 'compute' %}" method="get">#}
{#            <label for="search"></label>#}
{#            <input id="search" name="q" type="text" class="form-control" placeholder="Tell me what to calculate...">#}
{#        </form>#}
{#    </div>#}
    <div id="calculation">
        <form class="form" action="{% url 'compute' %}" method="post">
            {% csrf_token %}
            <label for="sq"></label>
            <select id="sq" class="cascade" name="sq">
                <option value="">Starting quantity</option>
                {% for fq in fqs %}
                    <option value="{{ fq.id }}">{{ fq.name }}</option>
                {% endfor %}
            </select>
            <label for="val">Value</label>
            <input id="val" name="val" type="text"/>
            <label for="su"></label>
            <select id="su" class="cascade" name="su">
                <option value="">Starting unit</option>
                {% for fu in fus %}
                    <option value="{{ fu.id }}">{{ fu.name }}</option>
                {% endfor %}
            </select>
            <label for="rq"></label>
            <select id="rq" class="cascade" name="rq">
                <option value="">Result quantity</option>
                {% for tq in tqs %}
                    <option value="{{ tq.id }}">{{ tq.name }}</option>
                {% endfor %}
            </select>
            <label for="ru"></label>
            <select id="ru" class="cascade" name="ru">
                <option value="">Result unit</option>
                {% for tu in tus %}
                    <option value="{{ tu.id }}">{{ tu.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Calculate">
        </form>
    </div>
{% endblock %}