[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=25.3.0"
bs4 = ">=0.0.2"
charset-normalizer = ">=3.4.2"
django = ">=5.2.4"
GTC = ">=1.5.1"
gunicorn = ">=23.0.0"
html5 = ">=0.0.9"
html5lib = ">=1.1"
numpy = ">=2.3.1"
owlready2 = ">=0.48"
pnglatex = ">=1.1"
pylatexenc = ">=2.10"
pymysql = "==1.1.1"
pytz = ">=2025.2"
pyyaml = ">=6.0.2"
qwikidata = ">=0.4.2"
rdflib = ">=7.1.4"
requests = ">=2.32.4"
scipy = ">=1.16.0"
selenium = ">=4.34.2"
sqlparse = ">=0.5.3"
trio = ">=0.30.0"
urllib3 = ">=2.5.0"

[dev-packages]

[requires]
python_version = "3.12"
