[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.1"
mysqlclient = "*"
GTC = "*"
bs4 = "*"
requests = ">=2.28"
pnglatex = "*"
pytz = "*"
qwikidata = ">=0.4.2"
rdflib = "*"
html5 = "*"
html5lib = "*"
owlready2 = "*"
numpy = ">=1.24"
charset-normalizer = ">=3.1"
selenium = "*"
attrs = ">=22.2"
urllib3 = ">=1.26"
scipy = ">=1.10"
sqlparse = ">=0.4"
pyyaml = "*"
wheel = ">=0.40"
gunicorn = "*"
pip-tools = ">=6.12"
pip = ">=23.0"
setuptools = ">=67.6"

[dev-packages]

[requires]
python_version = "3.10"
