[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.2.6"
GTC = ">=1.5.1"
pymysql = "==1.1.2"
pytz = ">=2025.2"
requests = ">=2.32.4"

[dev-packages]
qwikidata = ">=0.4.2"
rdflib = ">=7.2.1"
selenium = ">=4.34.2"

[requires]
python_version = "3.13"
