asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.3.2
Django==5.1.0
GTC==1.5.1
idna==3.7
mypy-extensions==1.0.0
numpy==2.2.1
outcome==1.3.0.post0
owlready2==0.46
pnglatex==1.1
PyMySQL==1.1.1
pyparsing==3.1.2
pytz==2024.2
PyYAML==6.0.2
qwikidata==0.4.2
rdflib==7.1.1
requests==2.32.3
scipy==1.14.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.1
trio==0.26.0
urllib3==2.3.0
