{% extends 'base.html' %}
{% block title %} Fundamental Constants {% endblock %}
{% block header %} Fundamental Constants {% endblock %}
{% block content %}
<div class="row">
    <div class="col-8 offset-2">
        <div class="card card-danger">
            <div class="card-header">
                <div class="row">
                    <div class="col-5">
                        <h5 class="card-title mb-0">Fundamental Constants</h5>
                    </div>
                    <div class="col-5 offset-2 px-0">
                        <input id="listsrc" placeholder="Search constants (or scroll)" class="form-control form-control-sm float-end" data-search-override="true" type="text"/>
                    </div>
                </div>
            </div>
            <div class="list-group card-responsive">
                {% for constant in constants %}
                    <li class="list-group-item constant" data-constant="{{ constant.name|lower }}">
                        <a href="/constants/view/{{ constant.id }}">{{ constant.name }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}