{% extends 'base.html' %}
{% block title %} Fundamental Constants {% endblock %}
{% block header %} Fundamental Constants {% endblock %}
{% block content %}
<div class="row">
    <div class="col-8 offset-2">
        <div class="card card-danger">
            <div class="card-header">
                <h5 class="card-title mb-0">Fundamental Constants</h5>
            </div>
            <div class="list-group card-responsive">
                {% for constant in constants %}
                    <li class='list-group-item'><a href="/constants/view/{{ constant.id }}">{{ constant.name }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}