{% extends 'base.html' %}
{% block title %} Unit Representations {% endblock %}
{% block header %} Units Representations {% endblock %}
{% block content %}
<h2>Unit Representations</h2>
    <!-- TODO redo this by row with each unique representation as a button -->
    <!-- TODO will also need to create aggregation page for different rep systems that use the same rep string -->
<div class="row">
    {% for unitname, unit in units.items %}
	<div class="col-3">
		<div class="card card-success mb-2">
			<div class="card-header bg-lightgrn">
                <h6 class="card-title">{{ unitname }}</h6>
			</div>
			<div class="card-body list-group list-group-flush p-0">
                {% for rep in unit.reps %}
                    <a class='list-group-item' href="/representations/view/{{ rep.id }}">{{ rep.strng }}</a>
                {% endfor %}
            </div>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}