{% extends 'base.html' %}
{% block title %} Unit Systems {% endblock %}
{% block header %} Units Systems {% endblock %}
{% block content %}
<h2>Unit Systems</h2>
<div class="row">
    {% for sys in syss %}
	<div class="col-sm-6">
		<div class="card card-success mb-2">
			<div class="card-header bg-lightgrn">
                <h5 class="card-title"><a href="/unitsystems/view/{{ sys.id }}">{{ sys.name }}&nbsp;({{ sys.abbrev }})</a></h5>
			</div>
			<div class="card-body justify">{{ sys.description }}</div>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}