{% extends 'base.html' %}
{% block title %} Unit {% endblock %}
{% block header %} Unit {% endblock %}
{% block content %}
<div class="row" style="margin-top: 10px;">
	<div class="col-12">
        <div class="card card-success">
            <div class="card-header">
                <a type="button" href="/unitsystems" class="btn btn-lightgrn btn-xs float-end">Back to the Index</a>
                <h4 class="card-title mb-0">Unit System: {{ sys.name }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 justify">
                        <b>Description</b>: {{ sys.description }}<br/>
                    </div>
                    <div class="col-6">
                        <b>Abbreviation</b>: {{ sys.abbrev }}<br/>
                        <b>Quantity System</b>: <a href="quantitysystem/view/{{ sys.quantitysystem.id }}">{{ sys.quantitysystem.name }}</a><br/>
                        <b>Source</b>: <a href="{{ sys.url }}" target="_blank">{{ sys.url }}</a><br/>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Units</h5>
                        <table class="table table-sm table-striped">
                            <tr>
                                <th class="col-md-2">Unit</th>
                                <th class="col-md-5">Description</th>
                                <th class="col-md-2">Type</th>
                                <th class="col-md-3">Source</th>
                            </tr>
                            {% for unit in units %}
                                <tr class="fs-7">
                                    <td><a href="/units/view/{{ unit.id }}">{{ unit.name }}</a></td>
                                    <td>{{ unit.description|safe }}</td>
                                    <td>{{ unit.type }}</td>
                                    <td><a href="{{ unit.url }}" target="_blank">{{ unit.url }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}