{% extends 'base.html' %}
{% block title %} Fundamental Constant {% endblock %}
{% block header %} Fundamental Constant {% endblock %}
{% block content %}
    <script>
    let config = {
        type: 'line',
        data: {{ alldata|safe }},
        options: {
            responsive: true,
            locale: 'en-EN',
            scales: {
                x: {
                    type: 'linear',
                    display: 'true',
                    offset: 'true',
                    position: 'bottom',
                    title: { display: true, text: 'Year' },
                    grid: { display: false },
                    time: { unit: 'year' },
                    ticks: {
                        callback: (value) => {
                            return value;
                        }
                    }
                },
                y: {
                    min: {{ ymin }},
                    max: {{ ymax }},
                    title: { display: true, text: 'Value' },
                    ticks: {
                        callback: (value) => {
                            return value;
                            {#return new Intl.NumberFormat('en-EN', {#}
                            {#    maximumSignificantDigits: {{ acc }} }).format(value)#}
                        }
                    }  // removes ',' from year values
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Change of {{ constant.name }} over time'
                },
                legend: {
                    display: false
                }
            }
        }
    };

    window.onload = function() {
        let ctx = document.getElementById('chart').getContext('2d');
        window.myChart = new Chart(ctx, config);
    };
    </script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-bg-light">
                <a type="button" href="/constants/json/{{ constant.id }}" class="btn btn-xs btn-info text-white float-end">JSON</a>
                <h5 class="card-title mb-0">Constant: {{ constant.name }} ({{ constant.symbol }})</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="accordionValues" class="accordion col-12 col-md-6">
                    {% for value in values %}
                        <div class="accordion-item">
                            <div id="heading{{ forloop.counter }}" class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ forloop.counter }}"
                                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                        aria-controls="collapse{{ forloop.counter }}">
                                    {{ value.year }} value {% if forloop.first %} (current) {% endif %}
                                </button>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionValues">
                                <div class="accordion-body p-0">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="text-end nistbc">Numerical value</td>
                                                <td class="nistbc"><code>{{ value.orig_value|safe }}&nbsp;{{ value.orig_unit|safe }}</code></td>
                                            </tr>
                                            <tr>
                                                <td class="text-end nistbc">Standard uncertainty</td>
                                                {% if not value.orig_uncert %}
                                                    <td class="nistbc"><code>(exact)</code></td>
                                                {% else %}
                                                    <td class="nistbc"><code>{{ value.orig_uncert|safe|default:"(exact)" }}&nbsp;{{ value.orig_unit|safe }}</code></td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="text-end nistbc">Relative uncertainty</td>
                                                {% if not value.reluncert_man %}
                                                    <td class="nistbc"><code>(exact)</code></td>
                                                {% else %}
                                                    <td class="nistbc"><code>{{ value.reluncert_man }} x 10<sup>{{ value.reluncert_exp }}</sup></code></td>
                                                {% endif %}
                                            </tr>
                                            {% if value.comments %}
                                            <tr>
                                                <td class="text-end nistbc">Concise form</td>
                                                <td class="nistbc"><code>{{ value.comments|safe }}&nbsp;{{ value.orig_unit|safe }}</code></td>
                                            </tr>
                                            {%  endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-12 col-md-6">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}