.bg-lightgrn, .btn-lightgrn {
    background-color: #d6e9c6;
}

.redtext {
    color: #ff0000;
}

.hover {
    cursor: pointer;
}

.underline a{
    text-decoration: none !important;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.fs-7 {
    font-size: 0.9rem !important;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.justify {
    text-align: justify;
}

.table-responsive {
    max-height: calc(100vh - 410px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.table-responsive-qs-view {
    max-height: calc(100vh - 650px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.table-responsive-u-view {
    max-height: calc(100vh - 200px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.card-responsive {
    max-height: calc(100vh - 200px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.btn-xs {
    padding: 2px 4px;
    line-height: 20px;
    font-weight: bold;
}

.nistbc {
    background-color: #cce2f3 !important;
}

.btn-xs {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.unit {
    text-align: center;
}

.to {
    text-align: right;
}

.item-sm {
    padding: 2px 16px;
}