{% extends 'base.html' %}
{% block title %} Representation System {% endblock %}
{% block header %} Representation System {% endblock %}
{% block content %}
<div class="row" style="margin-top: 10px;">
	<div class="col-10 offset-1">
        <div class="card card-success">
            <div class="card-header">
                <a type="button" href="/repsystems" class="btn btn-lightgrn btn-xs float-end">Back to the Index</a>
                <h5 class="card-title mb-0">Unit Representation System: {{ rsys.name }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <b>Description</b>: {{ rsys.description }}<br/>
                        <b>System Type</b>: {{ rsys.type }}<br/>
                        {% if rsys.domain %}
                            <b>Domain</b>: {{ rsys.domain.title }}<br/>
                        {% endif %}
                        <b>Source</b>: <a href="{{ rsys.url }}" target="_blank">{{ rsys.url }}</a><br/>
                        <b>Version</b>: {{ rsys.version }}<br/>
                        <b>Permalink</b>: <a href="/repsystems/view/{{ rsys.symbol }}">http://127.0.0.1:8000/repsystems/view/{{ rsys.abbrev }}</a><br/>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Representations (scrollable)</h5>
                        <table class="table table-sm table-striped mb-0">
                            <tr>
                                <th class="col-3">Unit</th>
                                <th class="col-4">Representation</th>
                                <th class="col-5">Status</th>
                            </tr>
                        </table>
                        <div class="table-responsive">
                             <table class="table table-sm table-striped mb-0">
                                 {% for rep in reps %}
                                     <tr class="fs-7">
                                        <td class="col-3"><a href="/units/view/{{ rep.unit_id }}">{{ rep.unit.name }}</a></td>
                                        <td class="col-4"><a href="{{ rep.url }}" target="_blank">{{ rep.strng.string }}</a></td>
                                        <td class="col-5">{{ rep.strng.status }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}