{% extends 'base.html' %}
{% block title %} Quantity {% endblock %}
{% block header %} Quantity {% endblock %}
{% block content %}
<div class="row" style="margin-top: 10px;">
	<div class="col-12">
        <div class="card card-success">
            <div class="card-header">
                <h4 class="card-title mb-0">Quantity: {{ quant.name }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <b>Description</b>: {{ quant.description }}<br/>
                        <b>Quantity Kind</b>: {{ quant.quantitykind.name }}<br/>
                        <b>Quantity System</b>: {{ quant.quantitysystem.name }}<br/>
                        <b>Symbol</b>: {{ quant.sysml_symbol }}<br/>
                        <b>Source</b>: <a href="{{ quant.url }}" target="_blank">{{ quant.url }}</a><br/>
                    </div>
                    <div class="col-5 text-end">
                        {% if units|length > 0 %}
                            <b><em>Applicable units for this quantity</em></b><br/>
                            {% for unit in units %}
                                <a href="/units/view/{{ unit.id }}" class="btn btn-xs btn-warning">{{ unit.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}