{% extends 'base.html' %}
{% block title %} Units Index {% endblock %}
{% block header %} Units Index {% endblock %}
{% block content %}
<h2>Units of Measure (by Quantity Kind)</h2>
<div class="row">
    {% for key, units in data.items %}
	<div class="col-sm-3">
		<div class="card card-success mb-2">
			<div class="card-header bg-lightgrn">
				<h5 class="card-title">{{ key }}</h5>
			</div>
			<div class="card-body list-group list-group-flush p-0">
                {% for unit in units %}
                    <a class='list-group-item' href="/units/view/{{ unit.id }}">{{ unit.name }}</a>
                {% endfor %}
			</div>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}