{% extends 'base.html' %}
{% block title %} Units Index {% endblock %}
{% block header %} Units Index {% endblock %}
{% block content %}
<h2>Units of Measure (by Quantity Kind)</h2>
<div class="row">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-u-view">
                        <table class="table table-sm table-striped fs-6">
                           {% for key, units in data.items %}
                                <tr class="item">
                                    <td><b>{{ key }}</b>:
                                        {% for unit in units %}
                                            <a href="/units/view/{{ unit.id }}">{{ unit.name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}