{% extends 'base.html' %}
{% block title %} Unit {% endblock %}
{% block header %} Unit {% endblock %}
{% block content %}
<div class="row" style="margin-top: 10px;">
	<div class="col-12">
        <div class="card card-success">
            <div class="card-header">
                <a type="button" href="/api/units/view/{{ unit.id }}" class="btn btn-lightgrn btn-xs float-end">API</a>
                <h4 class="card-title mb-0">Unit: {{ unit.name }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <b>Unit System</b>: <a href="/unitsystems/view/{{ usys.id }}">{{ usys.name }}</a><br/>
                        <b>Unit Type</b>: {{ unit.type }}<br/>
                        {% if qsys %}<b>Quantity System</b>: <a href="/quantitysystems/view/{{ qsys.id }}">{{ qsys.name }}</a><br/>{% endif %}
                        <b>Quantity Kind(s)</b>:
                            {% for qkind in qkinds %}
                                <a href="/quantitykinds/view/{{ qkind.quantitykind.id }}">{{ qkind.quantitykind.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        <br/>
                        <b>Dimension</b>: {{ dv.symbol|safe }}<br/>
                    </div>
                    <div class="col-7 text-end">
                        {% if quants|length > 0 %}
                            <b><em>Quantities that are measured in this unit</em></b><br/>
                            {% for quant in quants %}
                                <a href="/quantities/view/{{ quant.id }}" class="btn btn-xs btn-success m-1">{{ quant.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- show reference point if available -->
                    {% for strng, data in reps.items %}
                        {% for sys in data.systems %}
                            {% if sys.id == 25 and sys.url_ep == 'yes' %} <!-- 25 is the reference point -->
                                <div class="alert alert-danger col-12 mt-3" role="alert">
                                    <h5>Definitive Reference</h5>
                                    The BIPM SI Reference Point URL for this SI Unit of Measurement is:
                                        <a href="{{ sys.path }}{{ strng }}" target="_blank">{{ sys.path }}{{ unit.name }}</a><span class='bi bi-link-45deg'></span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <div class="col-12 mt-3">
                        <h5>Representations</h5>
                        <table class="table table-sm table-striped">
                            <tr>
                                <th class="col-md-3">String</th>
                                <th class="col-md-2">Status</th>
                                <th class="col-md-7">Representation System(s)</th>
                            </tr>
                            {% for strng, data in reps.items %}
                                <tr class="fs-7">
                                    <td>
                                        {{ strng }}
                                        {% if data.enccount > 100 %}
                                            &nbsp;(<a href="/encodings/view/{{ data.strng_id }}">encodings</a>)
                                        {% endif %}
                                    </td>
                                    <td>{{ data.status }}</td>
                                    <td>
                                        {% for sys in data.systems %}
                                            <a href="/repsystems/view/{{ sys.id }}">{{ sys.name }} ({{ sys.abbrev }})</a>
                                            {% if sys.path and sys.url_ep == 'yes' and sys.id != 25 %}
                                                (<a href="{{ sys.path }}{{ strng }}" target="_blank">definition</a><span class='bi bi-link-45deg'></span>)
                                            {% endif %}
                                            <br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if equsf or equst %}
                    <div class="col-12">
                        <h5>Equivalent Units</h5>
                        <table class="table table-striped">
                            <tr>
                                <th class="col-md-2">From</th>
                                <th class="col-md-2">Factor</th>
                                <th class="col-md-2">To</th>
                            </tr>
                            {% if equsf %}
                                {% for equf in equsf %}
                                <tr class="fs-7">
                                    <td>{{ equf.fromunit.name }}</td>
                                    <td>
                                        {% if equf.factor %}
                                            {{ equf.factor }}
                                        {% endif %}
                                        {% if equf.prefix %}
                                            {{ equf.prefix.value }}
                                        {% endif %}
                                    </td>
                                    <td>{{ equf.tounit.name }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            {% if equst %}
                                {% for equt in equst %}
                                <tr class="fs-7">
                                    <td>{{ equt.tounit.name }}</td>
                                    <td>
                                        {% if equt.factor %}
                                            {{ equt.factor }}
                                        {% endif %}
                                        {% if equt.prefix %}
                                            {{ equt.prefix.inverse }}
                                        {% endif %}
                                    </td>
                                    <td>{{ equt.fromunit.name }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    {% endif %}
                    {% if corsf or corst %}
                    <div class="col-12">
                        <h5>Corresponding Units</h5>
                        <table class="table table-striped">
                            <tr>
                                <th class="col-md-2">From</th>
                                <th class="col-md-2">Factor</th>
                                <th class="col-md-2">To</th>
                            </tr>
                            {% if corsf %}
                                {% for corf in corsf %}
                                <tr class="fs-7">
                                    <td>{{ corf.fromunit.name }}</td>
                                    <td>
                                        {% if corf.factor %}
                                            {{ corf.factor }}
                                        {% endif %}
                                        {% if corf.prefix %}
                                            {{ corf.prefix.value }}
                                        {% endif %}
                                    </td>
                                    <td>{{ corf.tounit.name }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            {% if corst %}
                                {% for cort in corst %}
                                <tr class="fs-7">
                                    <td>{{ cort.tounit.name }}</td>
                                    <td>
                                        {% if cort.factor %}
                                            1/{{ cort.factor }}
                                        {% endif %}
                                        {% if cort.prefix %}
                                            {{ cort.prefix.inverse }}
                                        {% endif %}
                                    </td>
                                    <td>{{ cort.fromunit.name }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}