{% extends 'base.html' %}
{% block title %} Quantity Kinds {% endblock %}
{% block header %} Quantity Kinds {% endblock %}
{% block content %}
<h2>Quantity Kinds</h2>
<div class="row">
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-u-view">
                        <table class="table table-sm table-striped fs-6">
                            {% for qkind in qkinds %}
                                <tr class="item">
                                    <td class="col-3"><a href="/quantitykinds/view/{{ qkind.id }}">{{ qkind.name }}</a></td>
                                    <td class="col-9">
                                        {% if qkind.description %}
                                            {{ qkind.description|truncatewords:32 }}
                                        {% else %}
                                            No description
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}