{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
    <h1><em>The Units of Measure Interoperability Service</em></h1>
    <div class="card bg-light p-3 mb-2">
        <p class="mb-0 justify-content">In the move toward big data applications there are many activities focused on
            the structure, presentation, and annotation all kinds of data.  Central though to all these efforts is the
            need to report a unit with any measured value.  Currently, there are a number of disparate activities
            focused around the digital representation of units because of the urgent need to definitively represent and
            refer to scientific units, quantities and dimensions in the digital space. Interoperability is significantly
            hampered in the current, fragmented digital unit landscape. This project is focused on development of a
            site dedicated to the interoperability, usage and documentation of unit representations.</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>The goals of this project are to:</p>
            <ul>
                <li>Provide a stable, authoritative source for scientific units for digital applications</li>
                <li>Allow international units-related bodies to facilitate the process of digital unit development</li>
                <li>Codify, through ontologies, vocabularies and naming conventions unit and quantity representations</li>
                <li>Promote systematic unit/quantity application and usage through best practices and use cases</li>
                <li>Allow international standards agencies to provide formal language translations of units</li>
                <li>Provide a mechanism whereby legacy units can be represented and related to current units</li>
                <li>Produce a global network of synchronized unit repositories</li>
            </ul>
            <p>The Units of Measure Interoperability Service (UMIS) is focused on resources and services to all data to be
                annotated with unit representations (strings, vocabulary terms, or ontological definitions) such that
                the interoperability, comparability, and useability of data can be significantly improved.</p>
            <p>This site is designed to be integrated into any webservice (using the API) that has a need to check the
                validity of a unit representation, choose the most appropriate representation of a unit, convert numeric
                values based on units, access physical constants, and provide disambiguation (if needed).</p>
            <p>This project is also in support of the findability, accessibility, reproducibility, and reuseability
                (FAIR) of data and as such is being implemented in accordance with the GO BUILD option of
                <a href="https://www.dtls.nl/fair-data/go-fair/" rel="follow">GO FAIR</a>.</p>
        </div>
        <div class="col-sm-4">
            <h4 dir="rtl">Global Metrology Resources</h4>
            <ul dir="rtl" style="margin-right: -20px;">
                <li><a target="_blank" href="https://www.bipm.org" rel="follow">BIPM (metre convention)</a></li>
                <li><a target="_blank" href="https://www.bipm.org/en/committees/ci/cipm/wg/cipm-tg-dsi" rel="follow">CIPM TG on the Digital SI</a></li>
                <li><a target="_blank" href="https://physics.nist.gov/cuu/Units/index.html" rel="follow">NIST/CODATA Units</a></li>
                <li><a target="_blank" href="https://codata.org/initiatives/task-groups/drum/" rel="follow">CODATA DRUM Taskgroup</a></li>
            </ul>
            <h4 dir="rtl">Common Unit Representations</h4>
            <ul dir="rtl" style="margin-right: -20px;">
                <li><a target="_blank" href="https://vocab.nerc.ac.uk/collection/P06/current/" rel="follow">BODC</a> (oceanography)</li>
                <li><a target="_blank" href="https://cdd.iec.ch/cdd/iec61360/iec61360.nsf/Units" rel="follow">IEC</a> (electrical)</li>
                <li><a target="_blank" href="https://www.ivoa.net/documents/VOUnits/index.html" rel="follow">IVOA</a> (astronomy)</li>
                <li><a target="_blank" href="https://qudt.org/" rel="follow">QUDT</a> (general)</li>
                <li><a target="_blank" href="https://github.com/ESIPFed/sweet" rel="follow">SWEET</a> (earth sciences)</li>
                <li><a target="_blank" href="https://ucum.nlm.nih.gov/" rel="follow">UCUM</a> (medicine)</li>
                <li><a target="_blank" href="https://www.unidata.ucar.edu/software/udunits/" rel="follow">UDUnits</a> (atmospheric sciences)</li>
                <li><a target="_blank" href="https://unece.org/trade/cefact/UNLOCODE-Download" rel="follow">UNECE</a> (internal trade)</li>
                <li><a target="_blank" href="https://bioportal.bioontology.org/ontologies/UO" rel="follow">UO</a> (biology)</li>
            </ul>
        </div>
    </div>
    <div class="well-sm">
        <p style="font-style: italic;font-weight: bold;">This <a href="/static/files/Semantic-Units-Project.pdf">project</a> was funded by NIST through award #70NANB17H209 (2017-2021)</p>
    </div>
{% endblock %}