{% extends 'base.html' %}
{% block title %} UMIS Search {% endblock %}
{% block header %} UMIS Search {% endblock %}
{% block content %}
<h2>Search Results for '{{ term }}'</h2>
<div class="row mt-2">
    <div class="col-12">
        {% if hits.units %}
            <h3>Units</h3>
            <ol>
                {% for k, v in hits.units.items %}
                    <li><a href="/units/view/{{ k }}">{{ v }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
        {% if hits.quants %}
            <h3>Quantities</h3>
            <ol>
                {% for k, v in hits.quants.items %}
                    <li><a href="/quantities/view/{{ k }}">{{ v }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
{% endblock %}